.admin-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 230px;
  background: #1e1e2f;
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 30px;
  text-align: center;
}

.sidebar a {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #34344a;
}

.content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}
